.DS_Store
tmp
bin
build
dist

*/*/modules
*/*/modules*
.apt_generated
build.properties

*.xcworkspace/
xcuserdata
*.xcuserstate
*.xcuserdata*

.idea/
libs/
build/

android/documentation
android/example
android/clean
android/ant_clean
android/.classpath
android/.settings
android/java-sources.txt

ios/documentation
ios/example
ios/*.zip
ios/Airship
ios/Carthage
ios/platform/*.framework
ios/platform/*.xcframework/*

