OTHER_LDFLAGS=$(inherited) -ObjC -lz -lsqlite3 -framework CFNetwork -framework CoreGraphics -framework Foundation -framework MobileCoreServices -framework Security -framework SystemConfiguration -framework UIKit -framework UserNotifications -framework CoreTelephony -framework CoreLocation -framework CoreData